.clearfix {
	float: none;
	clear: both;
}

.container {
	margin: 50px auto 0 auto;
}

.tabulator .tabulator-header .tabulator-col[tabulator-field="rowSelection"] {
	text-align: center;
}

#tallymin-table, .apply-button {
	user-select: none;
}

input {
	user-select: text;
}

.controls {
	display: flex;
	justify-content: space-between;
}

.controls div {
	display: flex;
}

.controls.top {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid;
}

.controls.top div {
	align-items: flex-end;
}

.controls.bottom {
	margin-top: 20px;
}

.controls.bottom div {
	align-items: flex-start;
}

.controls input {
	height: 16px;
	margin-right: 10px;
	width: 150px;
}

.controls button {
	margin-right: 10px;
}

.controls button:last-child {
	margin: 0;
}

.instructions {
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid;
}

.tabulator-row-odd {
	background-color: #f5f5f5;
}

.tabulator-cell.locked {
	position: relative;
}

.tabulator-cell .content {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
}

.tabulator-cell.locked::after {
	position: absolute;
	right: 20px;
	content: '\f023';
	text-align: right;
	opacity: 0.3;

	/* from .fas */
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
}