.clearfix {
	float: none;
	clear: both;
}

.container {
	margin: 0 auto;
}

.tabulator .tabulator-header .tabulator-col[tabulator-field="rowSelection"] {
	text-align: center;
}

#tallymin-table, .apply-button {
	user-select: none;
}

input {
	user-select: text;
}